*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-size: 18px;
}
/* the header */
.first-header {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}
.logo {
    width: 15%;
    cursor: pointer;
    margin: 30px 0;
}
.hamburger-menu {
    border-style: none;
    background-color: rgb(92, 196, 231);
    display: none;
    cursor: pointer;
}
.hamburger-menu img {
    display: block;
}
.nav-menu {
    flex: 1;
    text-align: right;
}
.nav-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}
.nav-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding: 10px 20px;
    border-radius: 25px;
}
.nav-menu ul li a:hover {
    color: rgb(95, 95, 150);
    opacity: 0.8;
    background-color: white;
}
.creative {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creative div {
font-size: 60px;
font-weight: bolder;
text-transform: uppercase;
letter-spacing: 7px;
text-align: center;
color: white;
margin-bottom: 50px;
}
.arrow-down {
    width: 50px;
    align-items: center;
}
.container {
    background-image: url('./desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    
}
   /* heading */
   @media only screen and (max-width:480px){
        .container {
            min-height: 150vh;
            width: 100%;
            height: 100%;
            background-position: center;
            max-width: 100%;
        }
        .logo {
            width: 50%;
        }
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .hamburger-menu {
            display: block;
        }
        .nav-menu {
            display: none;
            padding: 20px;
        }
   }
/* second section - fourth- section */
   .second-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   }
   .image2 {
    width: 100%;
    height: 100%;
   }
   .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .letter1 {
    font-family: 'Kalnia', serif;
    font-size: 60px;
    font-weight: bold;
   }
   .letter2 {
    width: 50%;
    font-family: roboto;
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: rgb(77, 63, 63);
   }
   .button {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    background-color: white;
   }
   button:hover{
    background-color: yellow;
    height: 10px;
    border-width: 10px;
    border-radius: 10px;
    }
   .third-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .image3 {
    width: 100%;
    height: 100%;
   }
   .fourth-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
   }
   .graphic-img {
    width: 100%;
   }
   .innertext {
    position: absolute;
    top: 35rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(77, 63, 63);
   }
   .inner-text-2 {
    width: 60%;
   }
   .innertext2 {
    position: absolute;
    top: 35rem;
    right: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(77, 63, 63);
   }
   .client-testimonials {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: gray;
    letter-spacing: 5px;
    margin-top: 15rem;
    margin-bottom: 7rem;
   }
   @media only screen and (max-width:480px){
    .second-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .third-section {
        display: flex;
        flex-direction: column;
    }
    .letter1 {
        text-align: center;
    }
    .fourth-section {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .graphic-img {
        min-height: 150vh;
        width: 100%;
        height: 100%;
    }
    .innertext {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        text-align: center;
        width: 100%;
        z-index: 2;
        top: 30rem;
        font-weight: bolder;
    }
    .innertext2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        text-align: center;
        width: 100%;
        z-index: 2;
        top: 75rem;
        left: 7px;
        font-weight: bolder;
    }
    .inner-text-2{
        margin-top: 2rem;
    }
    .section-2 {
        padding: 30px 5px;
    }
    #a {
        order: 2;
    }
    #b {
        order: 1;
    }
    #c {
        order: 3;
    }
    #d {
        order: 4;
    }
    #e {
        order: 5;
    }
    #f {
        order: 6;
    }
    .client-testimonials {
        margin: 5rem 0;
    }
    .second-side {
        margin-top: -5px;
    }
}
   /* fifth-section */
   .fifth-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 7rem;
  }
  .icon-section1 {
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
  .icon-text {
    width: 80%;
    margin-bottom: 2rem;
    line-height: 30px;
    font-family: roboto;
    color: gray;
  }
  .icon-picture{
    border-radius: 70px;
    margin-bottom: 2rem;
  }
  .icon-end {
    font-family: 'Kalnia', serif;
    font-weight: bolder;
    text-align: center;
}
.icon-post {
    text-align: center;
    font-size: 15px;
    color: gray;
}
@media only screen and (max-width:480px){
    .fifth-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .icon-post {
        padding-bottom: 10px;
    }
}
/* sixth-section */
.images-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.last-images {
    width: 100%;
    height: 100%;
} 
@media only screen and (max-width:480px){
    .images-section {
        display: grid;
        grid-template-columns: auto auto;
    } 
}
/* last-section */
footer {
    display: grid;
    justify-content: center;
    padding: 80px;
    background-color:  hsl(168, 26%, 58%);
}
.list-items ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 25px;
}
.anchor-tag {
    text-decoration: none;
    padding: 0px 30px;
    font-family: arial;
    color:  hsl(166, 25%, 24%);
}
.sunny-side2 {
    text-align: center;
    padding:10px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color:  hsl(165, 21%, 19%);
}
.social-handle {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



